@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&family=Tangerine:wght@400;700&display=swap');

body {
    text-align: center;
    background: url(../images/hydro.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 4em auto;
}


h1 {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

h2 {
    font-family: "Calligraffitti", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #000000, 0 0 5px #ffffff;
}
  
.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    margin-top: 2.5em;
}

.carousel-images {
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    position: relative;
    margin-bottom: 2rem;
}

@keyframes fade {
    from {opacity: 0.2}
    to {opacity: 1}
}

.carousel-item.active {
    display: block;
}

.caption {
    position: absolute;
    bottom: 10px;
    left: 43%;
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 1.6rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
}

.back, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color:rgb(255, 255, 255);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 18px;
}

.indicators {
    text-align: center;
    margin-top: 10px;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: rgba(59, 59, 59, 0.452);
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: rgb(255, 231, 126);
}