@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');

body {
    text-align: center; /*items aligned center*/
    background: url(../images/hydrocopy.png) no-repeat center center fixed; /*background image*/
    -webkit-background-size: cover; /*background image full when changing browser or window size*/
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 4em auto; /*margin area*/
}


h1 {
    font-family: "Eagle Lake", serif; /*chosen font*/
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255); /*font color*/
    text-shadow: 0 0 3px #000000, 0 0 5px #000000; /*color of text shadow*/
}

h2 {
    font-family: "Calligraffitti", cursive; /*chosen font*/
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255); /*font solor*/
    text-shadow: 0 0 3px #000000, 0 0 5px #ffffff; /*color of text shadow*/
}

/*div class carousel*/
.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    margin-top: 2.5em;
}

/*div class carousel-images*/
.carousel-images {
    transition: all 0.5s ease;
}

/*div class carousel-item*/
.carousel-item {
    min-width: 100%;
    height: auto;
    transition: opacity .5s;
}

/*div class carousel-item active*/
.carousel-item.active {
    display: block;
}

/*div class caption for images*/
.caption {
    bottom: 10px;
    left: 43%;
    font-family: "Playwrite FR Moderne", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    visibility: hidden;
}

/*back and next arrows*/
.back, .next {
    position: absolute;
    top: 50%;
    transform: translateY(100%);
    background-color: transparent;
    color:rgb(255, 228, 107);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 18px;
}

/*div class indicators*/
.indicators {
    text-align: center;
    margin-top: 10px;
}

/*div indicator from js*/
.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: rgba(59, 59, 59, 0.452);
    border-radius: 50%;
    cursor: pointer;
}

/*when indicator is active*/
.indicator.active {
    background-color: rgb(255, 228, 107);
}